---
layout: ""
page_title: "Provider: Frontegg"
description: |-
  The Frontegg provider provides resources to interact with the Frontegg user
  management platform.
---

# Frontegg Provider

The Frontegg provider provides resources to interact with the [Frontegg] user
management platform.

The provider works with only one workspace at a time. To provision multiple
workspaces, you will need to configure multiple copies of the provider.

Note that the client ID and secret key are *not* the client ID and secret key
that appear in "Workspace Settings". You need to generate a workspace API key
and secret specifically for the Terraform provider's use in the administration
portal:

![API key generation example](../assets/api-key.png)

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

[Frontegg]: https://frontegg.com
