name: Tests
on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    branches:
      - master
      - main
    paths-ignore:
      - README.md
  schedule:
    - cron: "0 13 * * *"
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - "1.0.3"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20.6"
      - run: go mod download
      - run: go test -v -cover ./provider/
        env:
          TF_ACC: "1"
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform }}
          FRONTEGG_API_KEY: ${{ secrets.FRONTEGG_API_KEY }}
          FRONTEGG_CLIENT_ID: ${{ secrets.FRONTEGG_CLIENT_ID }}
